/.idea
.DS_Store
/src/.ipynb_checkpoints
/src/data_viz/.ipynb_checkpoints
/.ipynb_checkpoints
/src/.idea
/src/field_topology/.ipynb_checkpoints
/src/field_topology/.ipynb_checkpoints
/src/field_topology/__pycache__
/src/field_topology/.ipynb_checkpoints
